.first {
  background-color: #1abc9c;
}

.second {
  background-color: #3498db;
}

.third {
  background-color: #9b59b6;
}

.fourth {
  background-color: #f39c12;
}

.fifth {
  background-color: #e74c3c;
}
